<div id="<%= dom_id product_order %>">
  <p>
    <strong>Product quantity:</strong>
    <%= product_order.product_quantity %>
  </p>

  <p>
    <strong>Product unit cost:</strong>
    <%= product_order.product_unit_cost %>
  </p>

</div>
